.card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: -80%;
  position: relative;
  filter: drop-shadow(0px 0px 15px black);
  font-size: 13px;
}

.cardimg{
  width: 400px;
  height: 400px;
  border-radius: 25px 0 0 25px;
  border: 5px solid #dda49f;
  border-right: none;
}

.cardtxt{
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 0 25px 25px 0;
  border: 5px solid #dda49f;
  border-left: none;
  background: #faede4;
  color: #573425;
}

.header{
  border-bottom: 3px solid #dda49f;
  padding: 10px;
  margin: 0 25px;
}

p{
  margin: 15px;
}

@media (max-width: 600px){
  .card{
    top: -90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .cardimg{
    height: 90%;
    width: 90%;
    border-radius: 25px 25px 0 0;
    border: 5px solid #dda49f;
    border-bottom: none;
  }
  
  .cardtxt{
    height: 90%;
    width: 90%;
    font-size: 10px;
    border-radius: 0 0 25px 25px;
    border: 5px solid #dda49f;
    border-top: none;
    background: #faede4;
    color: #573425;
  }
  
  .header{
  border-bottom: 3px solid #dda49f;
  padding: 5px;
  margin: 0 13px;
  }
  
  p{
    margin: 7px;
  }
}
