.card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: -80%;
  position: relative;
  filter: drop-shadow(0px 0px 15px black);
}

.cardimg{
  width: 400px;
  height: 400px;
  border-radius: 25px 0 0 25px;
  border: 5px solid #dda49f;
  border-right: none;
}

.cardtxt{
  text-align: center;
  width: 400px;
  height: 400px;
  border-radius: 0 25px 25px 0;
  border: 5px solid #dda49f;
  border-left: none;
  background: #faede4;
  color: #573425;
}

.header{
  border-bottom: 3px solid #dda49f;
  padding: 10px;
  margin: 0 25px;
}

p{
  margin: 15px;
}

@media (max-width: 600px){
  .card{
    top: -70%;
  }
  
  .cardimg{
    height: 300px;
    width: 300px;
  }
  
  .cardtxt{
    height: 300px;
    width: 300px;
    font-size: 10px
  }
}
