.card{
  background: #faede4;
  top: -80%;
  position: relative;
  text-align: center;
  margin: 0 15%;
  border-radius: 25px;
  border: 5px solid #dda49f;
  filter: drop-shadow(0px 0px 15px black);
  color: #573425;
  margin-bottom: 5%;
}

.header{
  border-bottom: 3px solid #dda49f;
  padding: 10px;
  margin: 0 25px;
}

.text{
  padding: 1%;
}

.content{
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.img1{
  width: 30%;
  margin-top: 10px;
}

.img2{
  width: 30%;
  margin-top: 10px;
}

@media (max-width: 600px){
  .card{
    margin: 0 7%;
    font-size: 10px;
    top: -90%;
  }
  
  .content{
    flex-direction: column;
  }
  
  .img1{
  width: 95%;
  margin-top: 0px;
  }
  
  .img2{
  width: 95%;
  margin-top: 0px;
  }
}
