.card{
  background: #faede4;
  top: -80%;
  position: relative;
  text-align: center;
  margin: 0 15%;
  border-radius: 25px;
  border: 5px solid #dda49f;
  filter: drop-shadow(0px 0px 15px black);
  color: #573425;
}

.header{
  border-bottom: 3px solid #dda49f;
  padding: 10px;
  margin: 0 25px;
}

.content{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.content1{
  border-right: 1.5px solid #dda49f;
  padding: 5px;
}

.content2{
  border-left: 1.5px solid #dda49f;
  padding: 5px;
}

.img1{
  width: 350px;
  margin-top: 10px;
}

.img2{
  width: 350px;
  margin-top: 10px;
}

@media (max-width: 600px){
  
}
